<div class='switch'>
	{{view Ember.Checkbox classNames='switch-checkbox' checkedBinding='isChecked' disabledBinding='isDisabled' viewName="switchCheckbox"}}
    <label class='switch-label' {{bindAttr for='switchCheckbox.elementId'}}>
		<div class='switch-inner'></div>
		<div class='switch-control'></div>
    </label>
    {{#unless hideText}}
    	<span class='switch-text'>{{labelText}}</span>
    {{/unless}}
</div>
