<footer>
	<div style="text-align:center">
		<br><br>
		 &copy; 
		 {{current-year}}
		  Yahoo! Inc. All rights reserved. Yahoo! Inc. | 701 First Ave., Sunnyvale, CA 94089-1019 | USA Phone (408) 349-3300
	</div>
	<br><br><br>
</footer>