<div id="hd">
	<div class="container container-header">
		<table style="width:100%;">
			<tr>
				<td>
					<div id="logo" style="float:left;"></div>
				</td>
				<td>	
					<div id="heading">Advertising Insertion Order</div>
				</td>
				<td>	
					<div class="hd-links" style="float:right;">
							<div id="OrderDetails" class="top-info-box">
								<table cellpadding="0" cellspacing="0">
								<tbody>
									<tr>			
										<td class="info-box-label">Order#:</td>
										<td id="orderid"></td>
									</tr>	
				          		  <tr>
				               		 <td class="info-box-label">Campaign Name: </td>
				                	<td id="campaignName">{{coCampaignName}}</td>
				          		  </tr>
				          		  <tr>
									<td class="info-box-label">Date:</td>
									<td id="date">07-Mar-2014</td>
								</tr>
								<tr>
									<td class="info-box-label">Client Ref#:</td>
									<td id="clientRef">{{clientRefNo}}</td>
								</tr>
								
							</tbody>
							</table>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>

<div class="container container-header">
	<div class="order-status">
	    <label class="status-label">Status : </label><label id="status" class="label"></label>&nbsp;&nbsp;&nbsp;
		<label class="print-label"><img src="/assets/img/print.png" alt="" width="15" height="15">&nbsp;Print</label>&nbsp;&nbsp;
	</div>
</div>

